/* Global Styles */ 
body { 
    font-family: Arial, sans-serif; 
    margin: 0 20 px; 
    padding: 15 px; 
    background-color: white; 
    color: black;
    font-size: medium;
}
          
/* Navigation */ 
nav { 
    background-color: black; 
    padding: 15 px; 
    text-align: left;
    font-weight: lighter;
} 
 
nav a { 
    color: pink; 
    text-decoration: none; 
    margin: 0 20 px; 
} 
 
nav a:hover { 
    text-decoration: underline; 
} 

/* Headers */ 
header { 
    background-color: black 
    color: pink; 
    padding: 15 px; 
    text-align: center;
    margin: 0 20 px;
} 

/* Main Content */ 
main { 
    padding: 15 px; 
    max-width: 600 px; 
    margin: 0 20 px; 
    text-align: left;
    font-size: medium;
}
h1,h2,h3,h4,h5,h6,h7,h8 {
    font-size: medium; 
}

/* Footer */ 
footer { 
    background-color: pink; 
    color: white; 
    text-align: center; 
    padding: 15 px; 
    margin-top: 0 20 px; 
    font-size: small;
} 

/* Images */ 
img { 
    border-radius: 10 px; 
    box-shadow: 0 4 px 8 px rgba (0,0,0,0.1); 
} 
